html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.4em;
    text-align: left;
    color: #666;
    background: #fff;
}
strong, b {
    font-weight: bold;
}
em,i {
    font-style: italic;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img, video {
    max-width: 100%;
    max-height: 100% !important;
    height: auto;
    border: none;
    vertical-align: middle
}
h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    color: #000;
}
h2 {
    font-size: 1.8em;
    line-height: 1.5em;
    color: #000;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
    color: #000;
}
h4 {
    font-size: 1.25em;
    color: #000;
}
h5 {
    font-size: 1.15em;
    color: #000;
}
h6 {
    font-size: 1em;
    color: #000;
}
iframe {
    width: 100%;
    height: 100%;
}
.chat-wa {
   position: fixed;
   right: 15px;
   bottom: 10px;
   width: 140px;
   height: 35px;
   border-radius: 14px;
   line-height: 35px;
   cursor: pointer;
   background: #e0e0ee;
   box-shadow: 0 2px 2px #ccc;
}
.chat-wa span {
    vertical-align: middle;
}
.clearfix {
    clear: both;
}
.message {
   position: fixed;
   top: 30px;
   background: #4e6dff;
   box-shadow: 0 2px 2px #ccc;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

.top {
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #041e41;
}
.top a {
    color: #fff;
    font-style: italic;
}
.s-logo {
    float: left;
    width: 258px;
    height: 40px;
    background: #ffcc00;
}
.s-logo:after {
    content: '';
    position: relative;
    right: -88px;
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid #ffcc00;
    border-width: 20px 44px;
    border-top-color: transparent;
    border-right-color: transparent;
}
.s-logo img {
    width: 160px;
    margin-left: 10px;
}
.introduce {
    text-indent: 110px;
}

.head {
    height: 120px;
}
.logo {
    margin-left: 5px;
    line-height: 120px;
}
.top-contact {
    float: right;
    margin-right: 0;
    margin-top: 40px;
    color: #003333;
    font-size: 28px;
    font-weight: bold;
}
.top-contact .email {
    font-size: 16px;
}
.menu  {
    height: 44px;
    border-bottom: 4px solid #f8c301;
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    background: #041e41;
}
.menu li {
    float: left;
    height: 44px;
}
.menu li:nth-child(-n+4):after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 2ex;
    margin-bottom: -0.5ex;
    background: #f8c301;
}
.menu a {
    display: inline-block;
    padding: 0 22px;
    text-decoration: none;
    color: #fff;
}
.menu li.right {
    float: right;
    position: relative;
}
.menu li.right a {
    padding: 0 10px;
}
.menu li.right .indicator {
    display: inline-block;
    margin: 0px 20px -8px 10px;
    border: solid;
    border-color: transparent;
    border-width: 10px 8px;
    border-top-color: #f8c301;
    transform-origin: 4px 5px;
    transition: all .5s;
}
.menu li.right>ul {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 99999;
    width: 1100px;
    height: 0;
    box-sizing: content-box;
    font-size: 12px;
    line-height: 30px;
    background: #162e4e;
    overflow: hidden;
    transition: height .3s;
}
.menu li.right:before {
    content: '';
    position:absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: 48px;
}
.menu li.right .productlist {
    position: relative;
    padding: 20px 15px;
}
.menu li.right .productlist dl{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(11, 30px);
    grid-template-columns: 25% 25% 25% 25%;
}
.menu li.right .productlist dl:nth-child(n+6){
    display: none;
}
.menu li.right dt {
    font-weight: bold;
    color: #f8c301;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu li.right dl a {
    display: inline;
    color: inherit;
}
.menu li.right dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
.menu li.right a {
    display: inline-block;
    padding: 0;
}
.menu li.right ul a:hover {
    text-decoration: underline;
}
.menu li.right .search {
    opacity: 0;
    position: absolute;
    right: 30px;
    bottom: 15px;
}
.menu li.right .search input[type=text] {
    width: 430px;
    height: 28px;
    border: none;
    outline: none;
    border-radius: 2px;
    text-indent: 5px;
}
.menu li.right .search input[type=submit] {
    position: relative;
    float: right;
    width: 40px;
    height: 30px;
    right: 30px;
    border:none;
    background: #fff url('./images/search-ico.png');
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
}
.menu li.right:hover ul {
    height: 400px;
    transition: height .5s;
}
.menu li.right:hover ul .search {
    opacity: 1;
    transition: all .5s .5s;
}
.menu li.right:hover .indicator {
    transform: rotate(180deg);
}
.welcome {
    margin-top: 24px;
    overflow: hidden;
}
.welcome .company {
    float: left;
    width: 290px;
    height: 348px;
    padding: 14px;
    border: 1px solid #666;
    box-sizing: border-box;
}
.welcome .company em {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px
}
.welcome .banner {
    position: relative;
    float: right;
    width: 786px;
    height: 348px;
    padding: 14px;
    border: 1px solid #666;
    box-sizing: border-box;
}
.banner .images {
    width: 100%;
    max-height: 270px;
    overflow: hidden;
}
.banner .images li {
    float: left;
}
.banner .images li:nth-child(n+2){
    display: none;
}
.banner .text {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
}
.banner .text li:nth-child(n+2){
    display: none;
}
.banner .prev, .banner .next {
    display: inline-block;
    float: right;
    width: 22px;
    height: 22px;
    margin-top: 20px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background: #ffcc00;
    cursor: pointer;
}
.banner .prev {
    margin-right: 1px;
}
.banner span:hover {
    background: #041e41;
}
.index-product-showroom h1{
    margin: 10px 0;
}
.index-product-showroom h1:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.5ex;
    margin-right: 15px;
    background: #041e41;
}
.index-product-showroom h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-product-showroom h2 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.showroom .thumbnail{
    float: left;
    width: 290px;
}
.showroom .description{
    float: right;
    width: 786px;
}
.showroom li {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.showroom a {
    color: #041e41;
    text-decoration: none;
}
.showroom .more, .showroom .inquiry {
    position: absolute;
    bottom: 8px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-right:10px;
    border-radius: 5px;
    color: #fff;
    background: #041e41;
}
.showroom .more {
    margin-right: 20px;
    background: #ffcc00;
}
.showroom .inquiry {
    left: 500px;
}
.showroom .inquiry:before {
    content:'';
    float:left;
    display:inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: #ffcc00 url('./images/price.png');
    background-size: 20px;
    background-position: 5px center;;
    background-repeat: no-repeat;
}

.showroom .more:before {
    content:'';
    float:left;
    display:inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: #041e41 url('./images/link.png');
    background-size: 20px;
    background-position: 5px center;;
    background-repeat: no-repeat;
}

.full-feedback {
    margin-top: 50px;
    height: 605px;
    overflow: hidden;
    box-shadow: 2px 2px 10px #ccc;
    background: #fff;
}
.full-feedback .feedback {
    float: right;
    width: 460px;
    padding-left: 20px;
    line-height: 2em;
}
.feedback p {
    margin-top: 20px;
}
.feedback .headline {
    margin-top: 45px;
    font-size: 30px;
    line-height: 40px;
    color: #000;
}
.single .feedback .headline {
    margin-top: 20px;
}
.feedback .headline:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1ex;
    margin-right: 10px;
    background: #ffcc00;
}
.feedback .slogan {
    margin-top: 5px;
    font-size: 20px;
    color: #ffcc00;
}
.feedback .description {
    margin-top: 5px;
}
.feedback input {
    width: 90%;
    line-height: 28px;
    padding: 5px 0;
    border: 1px solid #999;
    border-radius: 2px;
    outline: none;
    text-indent: 12px;
}
.feedback input[type=submit] {
    width: auto;
    color: #000;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    background: #ffcc00;
    cursor: pointer;

}
#feedback:target {
    margin-top: 10px;
    padding: 10px 0 20px 20px;
    background: #eee;
    transition: all .5s;
}
.full-feedback .map {
    float: left;
    width: 620px;;
    height: 605px;
}
.index-footer {
    position: relative;
    z-index: -10;
    margin-top: -150px;
    width: 100%;
    height: 260px;
    background: url('./images/index-footer-bg.jpg');
}
.footer {
    width: 100%;
    height: 95px;
    margin-top: 40px;
    color: #fff;
    background: url('./images/index-footer-bg.jpg') center center;
}
.footer .container {
    height: 95px;
}
.index-footer .container{
    padding-top: 150px;
    height: 110px;
    color: #fff;
}
.index-footer .foot-logo, .footer .foot-logo {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.index-footer .copyright, .footer .copyright {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.category, .single, .page, .search{
    margin-top: 25px;
}
.container .main {
    float: right;
    width: 784px;
}
.container .aside {
    float: left;
    width: 300px;
}
.category .showroom .description {
    width: 470px;
    width: calc(100% - 320px);
}
.container .aside .gallery a {
    width: 100%;
}
.container .aside .pitem {
    margin-top: 15px;
}
.container .aside .pitem li {
    font-size: 16px;
    line-height: 35px;
    text-indent: 5px;
    border-bottom: 1px dashed #ccc;
    color: #000;
    white-space: nowrap;
}
.container .aside .pitem>li {
    position: relative;

}
.container .aside .pitem>li>a:hover{
    color: #fff;
    background: #041e41;
}
.container .aside .pitem li ul{
    display: none;
    position: absolute;
    top: 0;
    left: 264px;
    padding: 15px;
    background: #041e41;
    box-shadow: 0 0 1px #eee;
}
.container .aside .pitem li li {
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    color: #fff;
}
.container .aside .pitem li li a:hover{
    color: #d3212e;
}
.container .aside .pitem>li:hover ul{
    display: block;
}
.container .aside .pitem a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
.container .aside .pitem>li>a:before {
    content: '\2022';
    color: inherit;
    margin-right: 5px;
    font-weight: bold;
}
.container .breadcrumb {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container .breadcrumb ol {
    padding-left: 20px;
    background: url('./images/home.png') left center no-repeat;
}
.container .breadcrumb li {
    display: inline-block;
    margin: 0 3px 0 2px;
}
.container .breadcrumb a {
    color: #041e41;
    text-decoration: none;
}
.container .breadcrumb a:hover {
    text-decoration: underline;
}
.container .breadcrumb em {
    font-style: normal;
}
.category h1 {
    margin-top: 20px;
    line-height: 1em;
}
.category h1:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.4ex;
    margin-right: 15px;
    background: #003333;
}
.category h2 {
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category .explain {
    margin: 10px 0;
    line-height: 1.8em;
}
.category .map, .single .map, .page .map, .search .map {
    width: 100%;
    height: 420px;
    margin-top: 30px;
}
.aside>div {
    width: 264px;
    padding: 10px;
    border: 1px solid #666;
    margin-bottom: 20px;
}
.aside .company em {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}
.aside h4 {
    line-height: 1.2em;
}
.aside .images {
    margin-top: 10px;
}
.aside .images li {
    margin-top: 5px;
}
.aside .post {
    margin-top: 10px;
}
.aside .post li {
    margin-bottom: 5px;
}
.aside .posts a {
    color: #666;
    text-decoration: none;
}
.aside .posts a:hover {
    text-decoration: underline;
}
.single h1 {
    margin-top: 20px;
    line-height: 1em;
}
.single h1:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 1.4ex;
    margin-right: 15px;
    background: #003333;
}
.single .introduction {
    margin: 20px 0 0 0;
    overflow: hidden;
}
.single .introduction .thumbnail {
    float: left;
    display: block;
    width: 350px;
    max-height: 205px;
}
.single .introduction .text {
    float: right;
    position: relative;
    width: 416px;
    height: 205px;
}
.single .introduction .contact {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}
.single .introduction .contact span {
    display: block;
    padding-left: 25px;
    margin-right: 30px;
    color: #000;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
.single .introduction .contact span.telegram {
    background-image: url('./images/telegram-ico.png');
}
.single .introduction .contact span.email {
    background-image: url('./images/email-ico.png');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single .introduction .tips {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.single .introduction .share {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}
.single .introduction .quote-btn {
    float: left;
    display: block;
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    background: #2ca4d8;
    text-decoration: none;
}
.single .introduction .rating {
    float: right;
    height: 24px;
}
.single .introduction .rating span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    background: url('./images/rating-icon.png') top left no-repeat;
    background-size: cover;
    cursor: pointer;
}
.single .introduction .rating span.checked{
    background: url('./images/rating-icon.png') top right no-repeat;
    background-size: cover;
}
.single .gallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single .gallery a {
    display: block;
    width: 24%;
    height: 100%;
    margin: 10px 0;
    cursor: pointer;
}
.single .content {
    margin-top: 10px;
}
.single .content table {
    width: 100%;
    margin-top: 10px;
}
.single .content table td {
    padding: 5px 8px;
    border: 1px solid #fff;
    word-break: break-all;
}
.single .content table tr:nth-child(2n) {
    color: #000;
    background: #ccc;
}
.single .content table tr:nth-child(2n+1) {
    color: #000;
    background: #eee;
}
.single .content table tr:nth-child(1) {
    background: #999;
}
.single .content {
    line-height: 22px;
}
.single .content p, .single .content div {
    margin-top: 10px;
    line-height: 22px;
}
.single .content h2, .single .content h3 {
    margin-top: 10px;
}
.single .content ol {
    margin-left: 1em;
    list-style: inside decimal;
}
.single .content ul {
    margin-left: 2em;
    list-style: inside disc;
}
.single .content li {
    margin-top: 8px;
    line-height: 20px;
}
.single .content .post_nav {
    margin-top: 40px;
}
.single .pubmeta {
    margin: 5px auto;
    text-align: center;
}
.single .pubmeta span {
    color: #ffcc00;
}
.single-gallery h1{
    margin-top: 30px;
    text-align: center;
}
.single-gallery h1:before{
    display: none;
}
.single-gallery .pubdate {
    display: block;
    margin-top: 10px;
    text-align: center;
    color:  #ffcc00;
}
.single-gallery .showroom {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px auto;
    text-align: center;
}
.single-gallery .prev, .single-gallery .next{
    width: 25px;
    height: 70px;
    line-height: 70px;
    color: #000;
    background: #f2f2f2;
    cursor: pointer;
}
.single-gallery .prev:hover, .single-gallery .next:hover {
    background: #f8c301;
}
.single-gallery .viewport {
    max-width: calc(100% - 60px);
    width: 680px;
}
.single-gallery .image {
    position: relative;
    max-width: 100%;
    width: 680px;
}
.single-gallery .image img {
    opacity: 1;
}
.single-gallery .counter {
    position:absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 80px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.5);
    transition: all .3s;
}
.single-gallery .share {
    margin-top: 20px;
    text-align: right;
}
.category-news .items {
    margin-top: 30px;
}
.category-news .items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category-news .items li {
    width: 31%;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    background: #000;
}
.category-news .items h3 {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
 .tag{
    margin-top:20px;
}
.tag .items li .more {
    font-style: italic;
    color: #f8c301;
}
.tag .items .thumbnail{
    float: left;
    width: 38%;
    margin-right: 20px;
}
.tag .items li a {
    color: #333;
    text-decoration: none;
}
.tag .items li {
    width: 100%;
    margin: 15px auto;
    overflow: hidden;
}
.tag .items li h2 {
    font-size: 1.4em;
    line-height: 1em;
}
.tag .items li p {
    margin-top: 15px;
}
.tag .taglist {
    margin-top: 30px;
}
.tag .taglist li {
    display: inline-block;
    margin: 10px;
}
.tag .taglist a {
    line-height: 1.2em;
    color: #333;
    text-decoration: none;
}
.sticky-post {
    margin-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #ccc;
}
.sticky-post .pubdate {
    color: #ffcc00;
}
.sticky-post .headimg {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
}
.single-news h1 {
    text-align: center;
}
.single-news h1:before {
    display: none;
}
.single-news .content p, .single-news .content div{
    margin: 10px 0;
}
.single-news .content ul{
    list-style: inside disc;
}
.single-news .content ol {
    list-style: inside decimal;
}
.single-news .share {
    text-align: right;
}
.notfound {
    margin-top: 30px;
}
.search .searchform {
    text-align: center;
    margin-top: 30px;
}
.search .searchform input[name=s] {
   width: 300px;
   line-height: 22px;
}
.search .searchform input[type=submit] {
    width: 80px;
    height: 28px;
}
.search .results li {
    margin-top: 20px;
}
.search .results a {
   text-decoration: none;
   color: #505050;
}
.search .results a:hover {
   color: #041e41;
}
.search .results .path a {
    color: #d3212e;
}
.search h3 {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search .no-result {
    margin-top: 30px;
    text-align: center;
}
.pagination {
    text-align: center;
}
.pagination>span, .pagination>a {
    display: inline-block;
    padding: 3px 6px;
    text-decoration: none;
}
@media(max-width:1100px){
    .container {
        width: 100%;
    }
    .container .aside {
        display: none;
    }
    .container .main {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .welcome .company {
        display: none;
    }
    .welcome .banner {
        max-width: calc(100% - 20px);
        float: none;
        margin: 0 auto;
    }
    .menu li.right>ul {
        width: 100vw;
    }
    .index-product-showroom {
        width: calc(100% - 20px);;
        padding: 0 10px;
    }
    .full-feedback {
        width: calc(100% - 20px);;
        padding: 0 10px;
        padding-bottom: 40px;
        height: auto;
    }
    .full-feedback .feedback {
        width: 100%;
    }
    .full-feedback .map {
        width: 100%;
        height: 400px;
        margin-top: 30px;
    }
    .index-product-showroom .showroom .description {
        width: calc(100% - 300px);
    }
    .index-product-showroom h2 {
        line-height: 1em;
    }
    .showroom .more, .showroom .inquiry {
        display: none;
    }
    .single .introduction .text {
        width: calc(100% - 370px);
    }
}
@media(max-width:980px){
    .top {
        display: none;
    }
    .head {
        height: 60px;
    }
    .logo{
        float: left;
        display: block;
        height: 50px;
        margin: 5px;
    }
    .logo img {
        width: 200px;
        float: left;
    }
    .top-contact {
        font-size: 14px;
        margin-top: 10px;
        margin-right: 50px;
    }
    .menu {
        position: relative;
    }
    .menu li.right {
        position: absolute;
        top: -60px;
        right: 0;
        width: 70%;
        height: 60px;
        cursor: pointer;
    }
    .menu li.right>a {
        display: none;
    }
    .menu li.right .indicator {
        position: relative;
        z-index: 9999999;
        float: right;
        display: block;
        width: 30px;
        height: 3px;
        border: none;
        padding: 10px 0;
        margin: 20px 10px 0 0;
        background: #f8c301;
        background-clip: content-box;
        transition: none;
    }
    .menu li.right:hover .indicator {
        transform: none;
    }
    .menu li.right .indicator:before {
        position: absolute;
        top: 0px;
        content: '';
        display: inline-block;
        width: 30px;
        height: 3px;
        background: #f8c301;
        transition: all .5s;
    }
     .menu li.right .indicator:after {
        position: absolute;
        top: 20px;
        content: '';
        display: inline-block;
        width: 30px;
        height: 3px;
        background: #f8c301;
        transition: all .5s;
    }
    .menu li.right>ul {
        position: fixed;
        top: 0;
        width: 70%;
        height: 100%;
        overflow: auto;
        color: #000;
        background: #fff;
        transform: translate(100%, 0);
        transition: all .5s;
    }
    .menu li.right .productlist {
        display: block;

    }
    .menu li.right:hover >ul {
        height: 100%;
        box-shadow: -2px 0 5px #041e41;
        transform: translate(0, 0);
        transition: all .5s;
    }
    .menu li.right .search {
        display: none;
    }
    .menu li.right dd {
        margin-left: 10px;
    }
    .menu li.right a {
        color: #000;
    }
    .menu li.right .productlist dl {
        display: block;
    }
    .menu li.right .productlist dl:nth-child(n+6){
        display: block;
    }
    .category .showroom .thumbnail {
        width: 30%;
    }
    .category .showroom .description {
        width: 68%;
    }

}
@media(max-width:786px){
    .welcome .banner {
        height: auto;
    }
}
@media(max-width:680px){
    .top-contact {
        display: none;
    }
    .menu ul li:nth-child(1){
        display: none;
    }
    .menu ul {
        height: 44px;
        overflow: hidden;
    }
    .index-product-showroom .showroom li {
        width: 100%;
        text-align: center;
    }
    .index-product-showroom .showroom .thumbnail {
        width: 100%;
        margin-bottom: 10px;
    }
    .index-product-showroom .showroom .description {
        width: 100%;
    }
    .index-product-showroom h2 a {
        white-space: normal;
    }
    .category .showroom .description p {
       display: none;
    }
    .category-news .items li {
        width: 49%;
    }
    .single .introduction .thumbnail {
       float: none;
       display: block;
       width: auto;
       height: auto;
        margin: 0 auto;
     }
     .single .introduction .text {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        margin: 20px auto 0 auto;
     }
    .single .introduction .tips {
        -webkit-line-clamp: unset;
    }
     .single .gallery {
        flex-wrap: nowrap;
        overflow: auto;
     }
     .single .gallery a {
        min-width: 60%;
        margin-right: 3%;
        margin-bottom: 0;
     }
     .feedback .headline {
        font-size: 20px;
     }
     .category h2 {
        font-size: 16px;
        white-space: normal;
    }
    .feedback input {
        width: 100%;
    }
    .chat-wa {
        width: 40px;
        height: 40px;
	    right: 5px;
    }
}
@media(max-width:420px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.6em;
        line-height: 1.2em;
    }
    h3,h4,h5 {
        font-size: 1.2em;
        line-height: 1em;
    }
    .category-news .items li {
        width: 100%;
    }
}
