.primary-banner {
    position: relative;
    height: 820px;
    overflow: hidden;
}
.primary-banner .leading-products {
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.4em;
    color: #999;
    background: rgba(0,0,0,.6);
}
.primary-banner .banner-elements {
    height: 100%;
}
.primary-banner .banner-elements ul {
    position: relative;
    width: 100vw;
    height: 100%;
}
.primary-banner .banner-elements li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.primary-banner .banner-elements li.fadein {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}
.product-elements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.product-elements li {
    position: relative;
    width: 28%;
}
.product-elements li:after {
    content: '';
    position: absolute;
    right: -10%;
    top: 2px;
    display: block;
    width: 1px;
    height: 80px;
    background: #848484;
}
.product-elements li:nth-child(3):after {
    display: none;
}
.product-elements img {
    float: left;
    margin-right: 20px;
}
.product-elements h3 {
    margin: 2px 0 5px 0;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
}
.company {
    position: relative;
    margin-top: 50px;
    height: 400px;
}
.company .introduce{
    float: left;
    width: 510px;
    height: 400px;
    padding: 20px;
    box-sizing: border-box;
    background: #f6f6f6;
}
.company .globalfootprint {
    position: absolute;
    left: 510px;
    right: calc(50% - 50vw);
    height: 400px;
    background: url('{{template_url}}/media/index-clients-bg.png') repeat;
}
.company h1 {
    font-size: 24px;
    color: #e11d26;
    line-height: 1em;
}
.company p {
    margin: 20px 0;
}
.company li {
    margin: 10px 0;
}
.company li:before {
    content: '\e90f';
    margin-right: 10px;
    font-size: 16px;
    color: #e33038;
}
.company .more {
    margin-top: 20px;
    color: #e11d26;
}
.company .more:after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    border: 5px solid #e11d26;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.product-show {
    position: relative;
    margin-top: 50px;
    padding-bottom: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpi/PbtGwMDAxMDGAAEGAAiwgLmv9mbJwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 10px 60px;
    background-size: 80% 230px;
    overflow: hidden;
}
.product-show h2 {
    font-size: 36px;
    width: 100%;
    margin: 10px 0 20px;
    line-height: 1em;
    color: #333;
}
.product-show .explanation {
    position: relative;
    z-index: 2;
    float: left;
    width: 750px;
    margin-top: 50px;
}
.product-show .product-image {
    position: absolute;
    bottom: 61px;
    right: calc(50vw - 683px);
    height: 322px;
}
.product-show blockquote {
    padding: 0 20px;
    line-height: 1.5em;
}
.product-show blockquote:before {
    content: '\e902';
    margin-right: 10px;
    font-size: 30px;
    color: #e11d26;
}
.product-show blockquote:after {
    display: inline-block;
    content: '\e903';
    font-size: 30px;
    color: #e11d26;
    transform: translate(10px,10px);
}
.product-show ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.product-show ul li {
    width: 30%;
    height: 102px;
    padding: 0 1%;
    margin-top: 50px;
    background: #fff;
    box-shadow: 0 2px 10px 0 #ccc;
}
.product-show ul li:nth-child(n+4){
    display: none;
}
.product-show ul h3 {
    font-weight: bold;
    margin: 20px 0 0;
}
.product-show .more, .product-show a:hover {
    color: #e11d26;
}
.product-show .more:hover {
    text-decoration: underline;
}
.product-scroll {
    margin-top: 30px;
}
.product-scroll ul {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
}
.product-scroll li {
    display: inline-block;
    width: 366px;
    padding: 6px;
    background: #f6f6f6;
}
.product-scroll .text {
    padding: 5px 10px;
    background: #fff;
}
.product-scroll h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-scroll .text span {
    padding-left: 15px;
    color: #999;
    background: url('{{template_url}}/media/capacity-icon.png') no-repeat left center;
}
.product-scroll .scroll-control {
    margin: 20px auto;
    text-align: center;
}
.product-scroll .scroll-control span {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 3px;
    border-radius: 5px;
    font-family: icon;
    line-height: 38px;
    text-align: center;
    color: #a9a9a9;
    background: #f6f6f6;
    cursor: pointer;
}
.product-scroll .scroll-control span:hover {
    color: #fff;
    background: #333;
}
.reviews {
    height: 420px;
    background-image: url('{{template_url}}/media/reviews-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.reviews h2 {
    margin: 50px 0 30px;
    font-size: 36px;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
}
.reviews h2 .privacy-notice {
    font-size: 12px;
    display: block;
}
.reviews ul {
    white-space: nowrap;
    overflow: hidden;
}
.reviews li {
    display: inline-block;
    width: 250px;
    margin-right: 100px;
    white-space: normal;
    color: #ddd;
}
.reviews p {
    width: 100%;
    height: 150px;
}
.reviews .author {
    margin-top: 30px;
    color: #999;
}
.reviews .author img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}
.reviews .review-content {
    position: relative;
}
.reviews .review-control {
    position: absolute;
    top: calc(50% - 70px);
    width: 35px;
    height: 70px;
    background: #666;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}
.reviews .review-control-left {
    left: -50px;
}
.reviews .review-control-right {
    right: -50px;
}
.reviews .review-control:before {
    content: '';
    position: absolute;
    top: 25px;
    right: 12px;
    display: block;
    border-right: 12px solid #fff;
    border-top: 9px solid transparent;
    border-left: none;
    border-bottom: 9px solid  transparent;
}
.reviews .review-control-right:before {
    border-right: none;
    border-top: 9px solid transparent;
    border-left: 12px solid #ccc;
    border-bottom: 9px solid  transparent;
}
.reviews .review-control:hover {
    background: #222;
    transition: all, .2s, .1s;
}
.feedbacks {
    margin-top: 70px;
    padding-top: 10px;
    overflow: hidden;
}
.feedbacks h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.feedbacks h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.feedbacks .tips {
    margin-top: 10px;
    color: #999;
}
.feedbacks .feedback-container {
   float: left; 
   width: 650px;
}
.feedbacks .feedback-list {
    position: relative;
    float: right;
    width: 640px;
    padding: 20px 20px 40px 20px;
    background: #f6f6f6;
}
.feedbacks .feedback-list:before {
    content: '';
    position: absolute;
    top: 20%;
    left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background: #f6f6f6;
    transform: rotate(45deg);
}
.feedbacks .feedback-list ul {
    margin-top: 10px;
}
.feedbacks .feedback-list li {
    float: left;
    width: 48%;
    padding: 10px 0;
    margin-right: 4%;
    border-bottom: 1px solid #ddd;
}
.feedbacks .feedback-list li:nth-child(2n) {
    margin-right: 0;
}
.feedbacks .feedback-list .author {
    float: left;
    color: #e11d26;
}
.feedbacks .feedback-list .pubdate {
    float: right;
    color: #999;
}
.feedbacks .feedback-list p {
    clear: both;
    margin-top: 5px;
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.partners {
    margin-top: 20px;
    background: #f6f6f6;
    padding: 40px 0;
    overflow: hidden;
}
.partners li {
    float: left;
    width: 220px;
    height: 65px;
    margin-right: calc(25% - 275px);
    margin-top:  20px;
    line-height: 65px;
    text-align: center;
}
.partners li:nth-child(5n) {
    margin-right: 0;
}
.partners li img {
    vertical-align: middle;
}

@media(max-width:1366px){
    .company {
        height: auto;
        overflow: hidden;
    }
    .company .introduce {
        width: 100%;
        height: auto;
        background: transparent;
    }
    .company .globalfootprint {
        left: 0;
        z-index: -1;
        height: 100%;
    }
    .product-show .product-image {
        right: 0;
    }
    .product-scroll ul {
        overflow: auto;
    }
    .product-scroll .scroll-control {
        display: none;
    }
    .reviews ul {
        overflow: auto;
    }
    .feedbacks .feedback-container {
        width: 100%;
    }
    .feedbacks .feedback-list {
        width: 100%;
        box-sizing: border-box;
    }
    .feedbacks .feedback-list:before {
        top: -10px;
        left: 5%;
    }
}
@media(max-width:800px){
    .primary-banner .leading-products {
        display: none;
    }
    .company {
        margin-top: 30px;
    }
    .product-show .explanation {
        width: 100%;
    }
    .partners li {
        width: 20%;
        height: auto;
        line-height: 100%;
        margin: 0;
    }
}

@media(max-width:500px){
    .company {
        margin-top: 10px;
    }
    .product-show {
        background: none;
    }
    .product-show ul {
        flex-wrap: wrap;
    }
    .product-show ul li {
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 0 0 10px 10px;
    }
    .product-show ul li:nth-child(n+4) {
        display: block;
    }
    .product-show .product-image {
        top: 0;
        z-index: -1;
    }
    .product-scroll li {
        width: 60%;
    }
    .product-scroll h3 {
        font-size: 16px;
    }
    .reviews {
        height: auto;
        padding: 20px 0;
    }
    .reviews h2 {
        margin: 10px 0;
        font-size: 30px;    
    }
    .reviews ul {
        padding-bottom: 10px;
    }
    .reviews li {
        width: 70%;
        margin-right: 10px;
    }
    .reviews p {
        height: auto;
    }
    .reviews .author {
        margin-top: 10px;
    }
    .reviews .author img {
        width: 30px;
    }
    .reviews .author .org>* {
        display: block;
        line-height: 1.2em;
        font-size: 12px;
    }
    .feedbacks {
        margin-top: 30px;
    }
    .feedbacks h2 {
        font-size: 30px;
    }
    .feedbacks .feedback-list {
        margin-top: 10px;
    }
    .feedbacks .feedback-list li {
        width: 100%;
    }
    .partners {
        padding: 20px 0;
    }
    .partners li {
        width: 50%;
    }
    
}